<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <test verbose="2" preserve-order="true" name="C:/Users/Manjeet Sharma/IdeaProjects/mavenproject/src/test/java/org/example/parameters.java">
      <parameter name="browser" value="firefox"></parameter>
      <parameter name="Url" value="https://www.saucedemo.com/"></parameter>
    <classes>
        <class name="org.example.parameters">
            <methods><include name="login"/></methods>
        </class>
    </classes>
</test>

</suite>